Package: __OCR_NAME__
Version: __VERSION__
Section: utils
Priority: optional
Architecture: __ARCH__
Maintainer: a7mddra <a7mddra@github.com>
Description: __SUMMARY__
 __DESCRIPTION_LINE_1__
 __DESCRIPTION_LINE_2__
